h1 {
  font-family: Londrina Shadow;
}

p {
  font-family: 'Pacifico', cursive;
}

body {
  font-family: helvetica, sans-serif;
  color: pink;
  margin: 0 auto;
  width: 1000px;
  background-image: url("https://scontent.xx.fbcdn.net/hphotos-xfp1/t31.0-8/11539066_645302212266981_4572476542853250513_o.jpg");
}

div {
  background-image: url("http://dash.ga.co/assets/firstcourse.jpg");
  background-size: cover;
}

p {
  color: rgb(255, 255, 153);
}

.first {
  background-image: url("")

}

.second {
  background-image: url("");
}
.third {
  background-image: url("");
}
.fourth { 
  background-image: url("");
}




.hellokitty {
  float: right;
  position: absolute;
  right:250px;
  top:0;
  height: 150px;
  width: 170px;
}